body {
    padding-top: 0px;
}

.navbar-main {
  padding-bottom: 0px;
  height: 100px;
}

.navbar-main.shrink {
    height: 50px; /* Shrunk height */
  }

/* .inner-nav {

} */


.navbar-link {
  text-decoration: none;
  color: rgb(0, 155, 0);
  margin-left: 30px;
}

.navbar-link:hover {
  color: darkgreen;
  text-decoration: underline;
}

.navbar-logo {
  max-width: 60px;
}


/* Home page */
.home-container {
  display: flex;
  justify-content: center;
}

.home-image {
  max-height: 40rem;
  max-width: 40rem;
  background-image: url('/images/ae614431-b975-4d1b-b76d-c278bb2a5c7d.JPG');
  background-attachment: scroll;
  place-items: center;
  background-position: bottom right;
  background-size: 100% 100%;
}

.home-text {
  color: white;
  font-size: 2rem;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  padding: 20px 60px 0px;
  margin: 20rem 10rem 1rem;
  background-color: rgba(149, 147, 218, 0.3);
  display: flex;
  align-items: center;
}

.home-logo {
  display: flex;
  justify-content: center;
  max-height: 100px;
  margin-left: 25px;
}

/* About page */
.about-image {
  background-image: url('/images/Screenshot 2024-11-19 at 17.20.29.png');
  height: 50vh;
  width: 100vw;
  background-size: 110% 100%;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
  background-attachment: fixed;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-shadow: 20px black;
}

.about-text-container {
  margin: 6% 20% 12%;
}

.about-text-title {
  color: rgb(74, 74, 74);
}

.about-text {
  color: rgb(102, 102, 102);
  font-size: 1.1rem;
}


/* Donate page */
.donate-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.donate-imagine {
    color: rgb(1, 79, 0);
    font-size: 3rem;

    padding: 60px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.donate-photo {
  max-height: 500px;
}

.donate-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0% 10% 0%;
  color: rgb(102, 102, 102);
  font-size: 1.1rem;
}

.donate-text-title {
  color: rgb(4, 38, 0);
  font-size: 1.5rem;
  margin: 5% 0% 4%;
}


/* Contact page */
/* .contact-container {

} */

.contact-photo {
  max-width: 500px;
}