body {
    padding-top: 0px;
}

.navbar-main {
  padding-bottom: 0px;
  height: 100px;
}

/* .inner-nav {

} */

.navbar-link {
  text-decoration: none;
  color: rgb(0, 155, 0);
  margin-left: 30px;
}
@media (max-width: 668px) {
  .navbar-link {
    color: lightgreen;
  }
}

.navbar-link:hover {
  color: darkgreen;
  text-decoration: underline;
}

.navbar-logo {
  max-width: 60px;
}


/* Home page */
.home-container {
  display: flex;
  justify-content: center;
}

.bg-images-wrapper {
  display: flex;
  flex-direction: column;
}

.home-bg-image {
  background-image: url('/images/SCH image 8.webp');
  height: 40vh;
  width: 100vw;
  background-size: 100% 120%;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.1);
  background-attachment: fixed;
  background-position: 0 -110px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-shadow: 20px black;
}
@media (max-width: 668px) {
  .home-bg-image {
    height: 30vh;
    background-size: 120% 80%;
    background-position: -40px -50px;
    background-attachment: fixed;
    transform: translateZ(40);
  }
}

.home-image {
  place-items: center;
}
@media (max-width: 668px) {
    .home-image {
      width: 100%;
      max-height: 30rem;
      margin-top: 0;
      margin-bottom: -40px;
    }
  }

.home-text {
  color: rgb(229, 229, 229);
  font-size: 2.4rem;
  text-align: center;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  padding: 20px 60px 0px;
  margin: 3rem 1rem 1rem 1rem;
  background-color: rgba(149, 147, 218, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 668px) {
  .home-text {
    margin-top: 3rem;
    font-size: 1.6rem;
  }
}

.home-logo {
  display: flex;
  justify-content: center;
  max-height: 100px;
  margin-left: 0px;
  margin-bottom: 15px;
}

.about-us-button {
  margin-bottom: 80px;
}

.eman-image {
  margin: auto;
  max-width: 50vw;
  margin-bottom: 50px;
  border: 2px solid darkgreen
}
@media (max-width: 668px) {
  .eman-image {
    border: none;
  }
}

/* About page */
.about-image {
  background-image: url('/images/Screenshot 2024-11-19 at 17.20.29.webp');
  height: 40vh;
  width: 100vw;
  background-size: 110% 100%;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
  background-attachment: fixed;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-shadow: 20px black;
}
@media (max-width: 668px) {
  .about-image {
    height: 30vh;
    background-size: 170% 100%;
    background-position: -190px 0;
    transform: translateZ(40);
  }
}

.about-text-container {
  margin: 6% 20% 12%;
}
@media (max-width: 668px) {
  .about-text-container {
    margin: 6% 12% 20% 11%;
  }
}

.about-text-title {
  color: rgb(74, 74, 74);
}

.about-text {
  color: rgb(102, 102, 102);
  font-size: 1.1rem;
}


/* Donate page */
.donate-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.donate-imagine {
    color: rgb(229, 229, 229);
    /* color: rgb(1, 79, 0); good color */
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/SCH image 7.webp');
    background-attachment: fixed;
    background-position: right center ;
    height: 40vh;
    width: 100vw;
}
@media (max-width: 668px) {
  .donate-imagine {
    background-position: -320px -200px;
    height: 30vh;
    transform: translateZ(40); /* sneaky way to trick browser into having fixed-background */
  }
}

.donate-photo {
  max-width: 30vw;
  margin: 10px;
  border: 2px solid darkgreen;
}
@media (max-width: 668px) {
  .donate-photo {
    border: none;
  }
}

.donate-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0% 10% 0%;
  color: rgb(102, 102, 102);
  font-size: 1.1rem;
}
@media (max-width: 668px) {
  .cheques-text {
    margin: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.donate-text-title {
  color: rgb(4, 38, 0);
  font-size: 1.5rem;
  margin: 5% 0% 4%;
}



/* Contact page */

.contact-image {
  background-image: url("/images/IMG_3110-1024x768.webp");
  height: 40vh;
  width: 100vw;
  background-size: 100% 100%;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.1);
  background-attachment: fixed;
  background-position: 0 -20px;
  color: rgb(237, 243, 237);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-shadow: 20px black;
}
@media (max-width: 668px) {
    .contact-image {
      height: 30vh;
      width: 100vw;
      background-attachment: fixed;
      transform: translateZ(40);
    }
  }

.contact-form-and-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 768px) {
    .contact-form-and-info {
      flex-direction: column;
    }
  }

.contact-form {
  margin: 5%;
  margin-top: 1%;
}

.contact-info {
  margin: 5%;
  padding-left: 5%;
}

.contact-form-container {
  margin-top: 18%;
}