.ruluko-regular {
    font-family: "Ruluko", serif;
    font-weight: 400;
    font-style: normal;
  }


.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.eb-garamond-regular {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.arapey-regular {
  font-family: "Arapey", serif;
  font-weight: 400;
  font-style: normal;
}

.arapey-regular-italic {
  font-family: "Arapey", serif;
  font-weight: 400;
  font-style: italic;
}